
/*
      New Perspectives on HTML and CSS
      Tutorial 6
      Case Problem 4

      Millenium Computers: Order Form
      Author: Benjamin Burgess
      Date:   4/29/2016

      Filename:         mill.css

*/

